<ion-modal-view>
  <ion-content id="companies" class="fill">
  	<button id="companies-close" ng-click="closeCompanies()"></button>
		<div class="company-logo articulacion" ng-click="stepone()">
			<img src="img/company/articulacion.png" alt="">
		</div>
		<div class="company-logo brm" ng-click="stepone()">
			<img src="img/company/brm.png" alt="">
		</div>
		<div class="company-logo deeploy" ng-click="stepone()">
			<img src="img/company/deeploy.png" alt="">
		</div>
		<div class="company-logo preferente" ng-click="stepone()">
			<img src="img/company/preferente.png" alt="">
		</div>
  </ion-content>
</ion-modal-view>
