<ion-view view-title="">
  <ion-content id="detail">

		<figure id="detail-arrow" class="arrow down white"></figure>

	  <div id="detail-info">

	  	<div>
	  		<h1>Exercitation Ullamco </h1>
	  	</div>

			<div>
				<p>Krashkee</p>
				<small>Lunes 4 de marzo, 2017</small>
			</div>

			<div>
					<div class="company-logo articulacion">
						<img src="img/company/articulacion.png" alt="">
					</div>

		    	<div class="detail-stars">
		    		<i class="star fill"></i>
		    		<i class="star fill"></i>
		    		<i class="star fill"></i>
		    		<i class="star fill"></i>
		    		<i class="star"></i>
		    	</div>
			</div> 

		</div> 


		<div id="detail-goals" class="detail-text">
			<h3>Objetivos</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas mollitia facere, molestias itaque autem, vero iure harum veritatis eos doloribus laudantium, obcaecati inventore molestiae commodi architecto dignissimos accusantium optio nobis.
			</p>
		</div>
		
		<div id="detail-image">
			<img src="img/detail.jpg" alt="">
		</div>

		<div id="detail-description" class="detail-text">
			<h3>Descripción</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas mollitia facere, molestias itaque autem, vero iure harum veritatis eos doloribus laudantium, obcaecati inventore molestiae commodi architecto dignissimos accusantium optio nobis.
			</p>
		</div>

  </div>

  </ion-content>
</ion-view>

