<ion-view>
 	<ion-nav-bar class="white">
 		 <img id="logo-blue" src="img/logo-blue.png" alt="">
 		 <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content id="login" class="fill">
		
		<figure id="login-arrow" class="arrow down white"></figure>

		<p id="login-copy">
			Lorem ipsum dolor sit amet, <br>
			consectetur adipisicing elit.
		</p>

		<div id="login-options">
			<button>
				<a href="#/app/suggestions"></a>
				<figure class="arrow blue"></figure>
				<span>BRM</span>
			</button>
			<button>
				<a href="#/app/register"></a>
				<figure class="arrow ocher"></figure>
				<span>INVITADO</span>
			</button>
		</div>
  </ion-content>
 </ion-view>
