<ion-view view-title="Paso 1">

  <ion-content id="stepone" class="fill">

		<figure id="stepone-arrow" class="arrow down blue"></figure>
  	<p id="stepone-copy">
			Lorem ipsum dolor sit amet, <br>
			consectetur adipisicing elit.
  	</p>

    <form id="stepone-form">
		    <div class="field">
						<figure class="arrow white"></figure>
		        <input type="text" ng-model="data.title" placeholder="Titulo"/>
		    </div>
		    <div class="field">
						<figure class="arrow white down"></figure>
        		<textarea ng-model="data.description" placeholder="Descripción"> </textarea>
		    </div>

    </form>

		<div id="stepone-options">
			<button type="submit" form="stepone-form" ng-click="steptwo()">
				<figure class="arrow blue"></figure>
				<span>SIGUIENTE</span>
			</button>
		</div>

  </ion-content>
 </ion-view>
