<ion-view view-title="Paso 2">
  <ion-content id="steptwo" class="fill">

		<figure id="steptwo-arrow" class="arrow down blue"></figure>

  	<p id="steptwo-copy">
			Lorem ipsum dolor sit amet, <br>
			consectetur adipisicing elit.
  	</p>

    <form id="steptwo-form">
		    <div class="field">
						<figure class="arrow white down"></figure>
        		<textarea ng-model="data.description" placeholder="Objetivos"> </textarea>
		    </div>

    </form>

		<div id="steptwo-options">
			<button ng-click="stepthree()">
				<figure class="arrow blue"></figure>
				<span>SUBIR<br>IMAGEN</span>
			</button>
			<button ng-click="openAlert()">
				<figure class="arrow ocher"></figure>
				<span>TERMINAR<br>SUGERENCIA</span>
			</button>
		</div>

  </ion-content>
 </ion-view>
