<ion-view view-title="Paso 3">

  <ion-content id="stepthree" class="fill">

		<figure id="stepthree-arrow" class="arrow down blue"></figure>
  	<p id="stepthree-copy">
			Lorem ipsum dolor sit amet, <br>
			consectetur adipisicing elit.
  	</p>

    <div id="stepthree-area">
   	 <span>Haga tap para subir la imagen.</span>
    </div>

		<div id="stepthree-options">
			<button type="submit" form="stepthree-form" ng-click="steptwo()">
				<figure class="arrow blue"></figure>
				<span>SIGUIENTE</span>
			</button>
		</div>

  </ion-content>
 </ion-view>
