<ion-view>
  <ion-content id="steptwo" class="fill">

		<figure id="steptwo-arrow" class="arrow down white"></figure>

  	<p id="steptwo-copy">
			Lorem ipsum dolor sit amet, <br>
			consectetur adipisicing elit.
  	</p>

    <form id="steptwo-form">
		    <div class="field">
						<figure class="arrow white down"></figure>
        		<textarea ng-model="data.description" placeholder="Objetivos"> </textarea>
		    </div>

    </form>

		<div id="steptwo-options">
			<button>
				<a href="#/app/stepthree"></a>
				<figure class="arrow blue"></figure>
				<span>SUBIR IMAGEN</span>
			</button>
			<button>
				<a href="#/app/suggestions"></a>
				<figure class="arrow ocher"></figure>
				<span>TERMINAR SUGERENCIA</span>
			</button>
		</div>

  </ion-content>
 </ion-view>
