<ion-view>
 	<ion-nav-bar class="nav-blue">
 		 <img id="logo-white" src="img/logo-white.png" alt="">
 		 <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content id="suggestions-row" class="fill">

			<div id="suggestions-menu">
				<div ng-click="filter()">
					<i></i>
				</div>
				<div ng-click="order()">
					<i></i>
				</div>
				<div ng-click="viewSquare()">
					<i></i>
				</div>
			</div>

	    <div class="suggestion" ng-repeat="suggestion in suggestions" >

				<a href="#/app/suggestions/{{suggestion.id}}"></a>
				
	    	<div class="suggestion-info">
		    		<strong>Pretty Hate Machine</strong>
		    		<p>{{suggestion.title}}</p>
	    	</div>

	    	<div class="suggestion-stars">
	    		<i class="star fill"></i>
	    		<i class="star fill"></i>
	    		<i class="star"></i>
	    		<i class="star"></i>
	    		<i class="star"></i>
	    	</div>

	    	<div class="suggestion-company">
	      	<img src="img/{{suggestion.thumbnail}}">
	    	</div>

	    </div>
			
			<button id="new-suggestion" ng-click="createSuggerence()"></button>
			
  </ion-content>
</ion-view>
