@font-face {
	font-family: 'light-oblique';
	src:url('fonts/light-oblique.eot');
	src:url('fonts/light-oblique.eot') format('embedded-opentype'),
		url('fonts/light-oblique.woff') format('woff'),
		url('fonts/light-oblique.ttf') format('truetype'),
		url('fonts/light-oblique.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'light';
	src:url('fonts/light.eot');
	src:url('fonts/light.eot') format('embedded-opentype'),
		url('fonts/light.woff') format('woff'),
		url('fonts/light.ttf') format('truetype'),
		url('fonts/light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'regular';
	src:url('fonts/regular.eot');
	src:url('fonts/regular.eot') format('embedded-opentype'),
		url('fonts/regular.woff') format('woff'),
		url('fonts/regular.ttf') format('truetype'),
		url('fonts/regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'medium';
	src:url('fonts/medium.eot');
	src:url('fonts/medium.eot') format('embedded-opentype'),
		url('fonts/medium.woff') format('woff'),
		url('fonts/medium.ttf') format('truetype'),
		url('fonts/medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'bold';
	src:url('fonts/bold.eot');
	src:url('fonts/bold.eot') format('embedded-opentype'),
		url('fonts/bold.woff') format('woff'),
		url('fonts/bold.ttf') format('truetype'),
		url('fonts/bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fill.scroll-content > .scroll {
  height: 100%;
}

.fill.scroll-content > .scroll > iframe {
  min-height: 100%;
}



#step-two{
	background-image: url(../img/step-one.jpg);
	background-size: contain;
}


#step-two{
	background-image: url(../img/step-two.jpg);
	background-size: contain;
}


/*LOGIN*/

#login{
	background-image: url(../img/login.jpg);
	background-size: contain;
}

#login-arrow{
	height: 96px;
	right: 60px;
}

#login-logo{
	width: 110px;
	position: relative;
	display: block;
	margin: 0 auto;
	background-image: url(../img/logo-blue.png);
	height: inherit;
	background-size: contain;
	background-repeat: no-repeat;
}

#login-copy{
	position: absolute;
	bottom: 70px;
	width: 80%;
	left: 10%;
	text-align: center;
	font-family: regular;
	font-size: 26px;
	line-height: 22px;
	color: #364775;
}

#login-options{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#login-options button{
	width: 50%;
	float: left;
	height: 62px;
	border: 0;
	position: relative;
}

#login-options button:nth-child(1){
	background-color:#364775;
}

#login-options button:nth-child(2){
	background-color:#c4b678;
}

#login-options button a{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;}

#login-options button:nth-child(1) figure{height: 40px;top: -40px;left: 31px;}

#login-options button:nth-child(2) figure{height: 90px;top: -90px;right: 6px;}

#login-options button span{
	font-family: light;
	color: #fff;
	font-size: 25px;
}

/*ELEMENTS*/

.arrow{
	width: 20px;
	position: absolute;
	overflow: hidden;
}

.arrow.down{
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.arrow:before{
	content:"";
	height: 100%;
	width: 8px;
	position: absolute;
	left: calc(50% - 4px);
	top: 16px;
}

.arrow::after{
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 16px 8px;
	top: 0;
	position: absolute;
	left: calc(50% - 8px);
}

.arrow.blue:before{
	background: #364775;
}

.arrow.blue::after{
	border-color: transparent transparent #364775 transparent;
}

.arrow.ocher:before{
	background: #c4b678;
}

.arrow.ocher::after{
	border-color: transparent transparent #c4b678 transparent;
}

.arrow.white:before{
	background: #fff;
}

.arrow.white::after{
	border-color: transparent transparent #fff transparent;
}




/*REGISTER*/

#register{
	background-image: url(../img/register.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#register-arrow{
	height: 58px;
	right: 100px;
}

#register-options{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#register-options button{
	width: 100%;
	float: left;
	height: 62px;
	border: 0;
	position: relative;
	background-color:#364775;
}

#register-options button figure{
	height: 76px;
	top: -76px;
	left: 31px;
}

#register-options button span{
	font-family: light;
	color: #fff;
	font-size: 25px;
}

#register-copy{
	position: relative;
	width: 80%;
	display: block;
	margin: 0 auto;
	text-align: left;
	font-family: medium;
	font-size: 29px;
	line-height: 28px;
	padding: 20% 0;
	color: #364775;
}

form{
	width: 80%;
	display: block;
	margin: 0 auto;
}

form .field{width: 100%;position: relative;}

form .field:nth-child(1) figure{height: 30px;top: -30px;left: 35px;}

form .field:nth-child(2) figure{bottom: -60px;height: 60px;right: 6px;}

form input[type="text"]{
	width: 100%;
	margin-bottom: 7px;
	padding: 4% 6%;
	height: auto;
	font-family: regular;
	color: #a7aaa9;
}

::-webkit-input-placeholder { 
	font-family: light;
	color: #364775;
}
::-moz-placeholder { 
	font-family: light;
	color: #364775;
} 
:-ms-input-placeholder { 
	font-family: light;
	color: #364775;
}
input:-moz-placeholder { 
	font-family: light;
	color: #364775;
}

/*SUGGESTION*/


#suggestions-menu{
	width: 100%;
	height: 70px;
	position: relative;
	display: block;
	overflow: hidden;
}
#suggestions-menu div{
	width: calc(100%/3);
	height: 50px;
	float: left;
}

#suggestions-menu div i{
	position: relative;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	background-size: contain;
	margin: 16px auto 0 auto;
	background-position: center center;
	display: block;
}

#suggestions-menu div:nth-child(1) i{
	background-image: url(../img/filter.png);
}

#suggestions-menu div:nth-child(2) i{
	background-image: url(../img/order.png);
}

#suggestions-menu div:nth-child(3) i{
	background-image: url(../img/view-square.png);
}

.suggestion{
	width: 100%;
	height: 65px;
	overflow: hidden;
	position: relative;
	display: block;
}

.suggestion a{
	position: absolute;
	z-index: 2;
	width: 100%;
	height:100%;
	left: 0;
	top:0;
	color: transparent;
}
.suggestion:nth-child(odd){
	background-color: #dedede;
}

.suggestion:nth-child(even){
	background-color: #eaeaea;
}

.suggestion .suggestion-info{
	width: 56%;
	float: left;
	height: 100%;
	padding: 4% 0 0 3%;
}
.suggestion .suggestion-info strong{
	font-family: medium;
	color: #5b5b5b;
	font-size: 20px;
}
.suggestion .suggestion-info p{
	font-family: 'light-oblique';
	color: #a7aaa9;
	margin: 0;
	font-size: 15px;
}
.suggestion .suggestion-stars{
	width: 26%;
	float: left;
	height: 100%;
}
.suggestion .suggestion-stars i{
	background-image: url(../img/star.png);
	width: 16px;
	height: 16px;
	position: relative;
	float: left;
	background-size: cover;
	margin-right: 2px;
	margin-top: 23px;
}
.suggestion .suggestion-stars i.star{
	background-position: 0px 16px;
}
.suggestion .suggestion-stars i.fill{
	background-position: 0px 0px;
}
.suggestion .suggestion-company{
	width: 18%;
	height: 100%;
	float: left;
}
.suggestion .suggestion-company img{
	width: 65px;
	height: 65px;
	float: right;
}

/*DETAIL SUGGESTION*/


#detail{}
#detail-arrow{}
#detail-info{}
#detail-info div:nth-child(1){}
#detail-info div:nth-child(2){}
#detail-info div:nth-child(3){}


h1
p
small
goals
image
img
description
h2
p
